 /*
 body {
     background-color: black;
 }

 h1 {
     color: azure;
 }

 p {
     background-color: silver;
     color: azure;
 }




 .even {
     color: greenyellow;
 }

 .odd {
     color: orangered;
 }

 ----------end of intro to stylesheet cascading----*/
 /*
 body {
     background-color: black;

 }

 p {
     color: green;
     font-family: 'sans-serif', monospace;
     font-style: italic;
     font-weight: bold;
     text-decoration: underline dashed;
     font-size: 18px;
 }

 h1 {
     color: white;
 }
*/
 /*-----------------customizing borders------------------------*/
 /*
 p {
     border-style: groove;
     border-width: 8px;
     border-color: orange;
     border-radius: 15px;
     padding: 2px;
 }

 h1 {
     border-style: outset;
     border-bottom-style: dotted;
     border-left-style: double;
     border-left-width: 8px;
     border-left-color: green;
 }
 */

 /*---------------------customizing backgrouds-----------*/